<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Mahabharata - Home</title>
  </head>
  <body>
    <div class="container">
      <a class="main-heading" href="/">Mahabharata</a>
      <nav>
        <a class="link" href="/toc">Read</a>
        <a class="link" href="/summary">Summary</a>
      </nav>
      <div class="about">
        <p>
          Welcome to our online portal dedicated to the timeless epic, the
          Mahabharata. Here, you can embark on a journey through one of the
          world's most revered and intricate narratives. The Mahabharata, an
          ancient Indian epic, is a tale of dynastic struggles, divine
          intervention, and profound philosophical wisdom. With over 100,000
          verses, it's a literary masterpiece that has captivated readers for
          centuries. Our website is your gateway to exploring this epic in all
          its glory.
        </p>
        <p>
          At our Mahabharata reading website, we offer a comprehensive
          collection of resources to help you delve into this epic. You'll find
          meticulously curated translations, both in English and other
          languages, allowing you to access the Mahabharata in a way that suits
          your preferences. Whether you're interested in the epic's historical
          context, its diverse characters, or its enduring moral lessons, our
          website provides a rich tapestry of information to satisfy your
          curiosity.
        </p>
        <p>
          In addition to textual resources, we've also created an engaging
          community of enthusiasts, scholars, and experts who share their
          insights and perspectives on the Mahabharata. You can participate in
          discussions, ask questions, and immerse yourself in the vibrant world
          of Mahabharata scholarship. Whether you're a student, a researcher, or
          simply an avid reader, our website is designed to cater to your needs
          and deepen your understanding of this timeless epic. Start your
          Mahabharata journey with us today and unlock the wonders of this
          literary treasure.
        </p>
      </div>
    </div>
  </body>
</html>
